# Child Analysis Sleep

### 1) Import Libraries and stuff

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import seaborn as sns

### 2) Read Data

In [5]:
train_events = pd.read_csv('Data/train_events.csv')
train_events.head()

      series_id  night   event     step                 timestamp
0  038441c925bb      1   onset   4992.0  2018-08-14T22:26:00-0400
1  038441c925bb      1  wakeup  10932.0  2018-08-15T06:41:00-0400
2  038441c925bb      2   onset  20244.0  2018-08-15T19:37:00-0400
3  038441c925bb      2  wakeup  27492.0  2018-08-16T05:41:00-0400
4  038441c925bb      3   onset  39996.0  2018-08-16T23:03:00-0400

In [7]:
def get_charac(df):
    sup=[]
    columns=df.columns
    for col in columns:
        dtypes=df[col].dtypes
        nunique=df[col].nunique()
        sum_null=df[col].isnull().sum()
        sum_mean = df[col].isnull().mean()
        sup.append([col,dtypes,nunique,sum_null,sum_mean])
    df_check=pd.DataFrame(sup)
    df_check.columns=['column','dtypes','nunique','sum_null','sum_mean']
    return df_check

In [8]:
get_charac(train_events)

      column   dtypes  nunique  sum_null  sum_mean
0  series_id   object      277         0  0.000000
1      night    int64       84         0  0.000000
2      event   object        2         0  0.000000
3       step  float64     7501      4923  0.339283
4  timestamp   object     9362      4923  0.339283